.nav-img{
  width: 70px;
height: 70px;
object-fit: cover;

}
.nav-text {
  font-family: "Nunito" sans-serif;

  font-weight: 400;
  font-size: 2rem;
  line-height: 19px;

  color: #ffffff;
}
header{
 background-color: #080808;
  height: 100px;
  display: flex;
  align-items: center;
  width: 100%;
}